.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

body {
  background-image: url('https://papers.co/wallpaper/papers.co-nd78-mountain-nature-sky-cloud-wood-bw-white-29-wallpaper.jpg');
}